/* start header area */
header {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
ul li {
  margin-left: 0.3rem !important;
  margin-right: 0.3rem !important;
}
ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 0.3rem;
  background-color: var(--org);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  margin-bottom: -1.2rem;
  transition: 0.5s;
}
ul li:hover::after {
  width: 100%;
}
ul li a {
  text-transform: uppercase;
  color: var(--dp1) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--dp1);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--org);
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: bold;
  color: var(--org) !important;
}
/* end header area */

/* responsive here */
@media screen and (max-width: 991px) {
  .navbar-light .navbar-toggler {
    color: var(--org);
    border-color: var(--org);
  }
  ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 0.3rem;
    background-color: var(--org);
    margin: 0 auto;
    transition: 0.5s;
  }
}
