/* fonts google */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
/* font-family: 'Montserrat', sans-serif; */
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: rgba(38, 57, 87, 0.2);
}
:root {
  --white: #fff;
  --black: #000;
  --dp1: #263957;
  --org: #fac608;
}
/* start header area */
header .header-nav {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
ul li {
  margin-left: 0.3rem !important;
  margin-right: 0.3rem !important;
}
ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 0.3rem;
  background-color: var(--org);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  margin-bottom: -1.2rem;
  transition: 0.5s;
}
ul li:hover::after {
  width: 100%;
}
ul li a {
  text-transform: uppercase;
  color: var(--dp1) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--dp1);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--org);
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: bold;
  color: var(--org) !important;
}
/* end header area */
/* start portfolio area */
.portfolio > h2::after {
  content: "";
  display: block;
  height: 5px;
  width: 25%;
  background-color: var(--org);
  margin: 10px auto;
}
.portfolio .item {
  margin: 20px 10px;
  padding: 10px;
  background-color: var(--dp1);
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}
.portfolio .item:hover {
  background-color: var(--black);
}
.portfolio .item .port-img {
  height: 200px;
  background-color: var(--org);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
.portfolio .item .port-img:hover {
  background-position: 0 100%;
}
.portfolio .item .default {
  background-image: url(../portfolio_images/default.webp);
}
.portfolio .item .des {
  padding: 10px 5px;
}
.portfolio .des h2 {
  color: var(--white);
  font-size: 1.2rem;
}
.portfolio .des p {
  font-size: 0.8rem;
  color: var(--org);
  padding: 5px 0;
  margin: 0;
}
.portfolio .item .port-link {
  padding: 0 5px;
}
.portfolio .item .port-link a i {
  font-size: 2rem;
  color: var(--white);
  transition: 0.5s;
}
.portfolio .item .port-link a i:hover {
  color: var(--org);
}

/* start portfolio images link here */
.portfolio .item .e-commerce-brand{
  background-image: url(../portfolio_images/e-commerce-brand.webp);
}
.portfolio .item .creative-branding{
  background-image: url(../portfolio_images/creative-branding.webp);
}
.portfolio .item .e-commerce-html-css {
  background-image: url(../portfolio_images/e-commerce-html-css.webp);
}
.portfolio .item .cleaning-service {
  background-image: url(../portfolio_images/cleaning-service.webp);
}
/* end portfolio images link here */
/* end portfolio area */

/* start footer area */
footer {
  background-color: var(--dp1);
}
footer .footer-end {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
footer .footer-end p a {
  color: var(--org);
}
/* end footer area */
